/* style.css */
body {
    background-color: #f8f9fa;
}

.card-login {
    max-width: 400px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.vh-center {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}